// Specific CSS for your home-page

img {
  height: 18rem;
  object-fit: cover;
}

.page-banner {
  background-image: url('https://res.cloudinary.com/nico1711/image/upload/v1565344790/juiep3mfqnbkcxc6mwon');
  height: 95vh;
  background-size: cover;
  padding: 150px;
}
